<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS TAG</title>
</head>
<body>
    <H1>
        <%=title%>
    </H1>
    <p>
      <%=second%>
    <p>
       <%   if(seconds%2 ==0){%>
<ul>
    <% items.forEach(function(fruit){ %>
        <li><%= fruit %></li>
    <% }); %>
</ul>
       <% }%>
    </p>
    <ul>
        <% else{ %>
            <li>This is harmful for sex</li>
        <% } %> 
    </ul>
</body>
</html>